{% extends 'base.html' %}
{% block content %}
<script>
    let requestUserName = '{{request.user}}';
</script>
<div id="messageContainer" class="messageContainer">
    {% for message in messages %}
    {% if message.author == request.user %}
    <div class="mdl-shadow--2dp message-card toRight">
        <span class="dateSpan">{{ message.created_at }}</span><span class="authorSpan">{{ message.author}}</span><span>{{ message.text }}</span>
    </div>
    {% else %}
    <div class="mdl-shadow--2dp message-card">
        <span class="dateSpan">{{ message.created_at }}</span><span class="authorSpan">{{ message.author}}</span><span>{{ message.text }}</span>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="formContainerMsg">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp inputMsgCard">
        <form onsubmit="sendMessage(); return false;" method="post" class="sendMessageForm">
            {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label inputMsg">
                <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
                <label class="mdl-textfield__label" for="sample3">Message...</label>
            </div>
            <button id="sendMsgBtn" type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                style="margin-left: 12px; width: calc(10% - 12px); min-width: 72px">
                Send
            </button>
        </form>
    </div>
</div>
{% endblock %}